<div class="heading__container">
  <div class="heading__title">
    <h1 class="title--style">Available Pizzas</h1>
  </div>
  <div class="heading__action">
    <a href="add-pizza.php">Add a Pizza</a>
  </div>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="content__pizza-items">
    <!-- <tr>
      <td><a href="view-pizza.php">Pepperoni Pizza</a></td>
    </tr> -->
  </tbody>
</table>


<div class="pizza__read content__pizza-items">
  <!-- <div class="pizza__row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6"></div>
  </div> -->
</div>
