{{#pizza}}

  <div class="box">
    <div class="box__heading box__heading--arrow">
      <div class="heading--title">
          <h3 class="title--style">View Pizza</h3>
      </div>
      <div class="heading--action">
        <a href="#pizzas/update/{{id}}">Edit</a>
        <a href="#pizzas/delete/{{id}}">Delete</a>
      </div>
    </div>
    <div class="box__container">
      <div class="box__content">
        <div class="content__container">
          <p>Name: {{name}}</p>
        </div>
        <div class="content__container">
          <p>Description: {{description}}</p>
        </div>
        <!-- <h3>Toppings</h3>
        <ul>
          <li> Pepperoni </li>
          <li> Olives </li>
        </ul> -->
      </div><!-- end box__content -->
    </div>
  </div>

{{/pizza}}
